---
const {thumbnail} = Astro.props;
const {alt} = Astro.props;
const {charFirstName} = Astro.props;
const {url} = Astro.props;
---
<a class="grid-card" href={url}>
    <span>
        <div>
            <img src={thumbnail} alt={alt} class="responsive">
            <span>
                <p class="card-name">{charFirstName}</p>
            </span>
        </div>
    </span>
</a>