---
const {thumbnail} = Astro.props;
const {alt} = Astro.props;
const {charFirstName} = Astro.props;
const {url} = Astro.props;
---
<a href={url}>
    <div>
        <img src={thumbnail} alt={alt}>
        <span>
            <p>{charFirstName}</p>
        </span>
    </div>
</a>

<style>

a {
  margin: 1rem;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;

  overflow: hidden;
}

span { 
  background-color: green;
  overflow: hidden;
  display: block;
  padding: 2% 0px 2% 0px;
}

div {
  display: flex;
  flex-direction: column;
}

p {
  font-weight: bold;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 50px;
}

@media (max-width: 700px), 
(min-resolution: 124.8dpi) {
  p {
    font-size: 3.5vw;
  }
  span {
    padding: 4% 0px 4% 0px;
  }
}

@media (min-width: 700px) {
  p {
    font-size: 2vw;
    padding-left: 25px;
  }
  img {
    max-width: 250px;
  }
  span {
    padding: 4% 0px 4% 0px;
  }
}

@media (min-width: 950px) {
  p {
    font-size: 1.45vw;
    padding-left: 50px;
  }
  img {
    max-width: 300px;
  }
  span {
    padding: 3% 0px 3% 0px;
  }
}

@media (min-width: 1300px) {
  p {
    font-size: 1.25vw;
    padding-left: 50px;
  }
  img {
    max-width: 250px;
  }
}

</style>